<div class="container">
<div class="row"> 
  <div class="col s8 offset-s2">
      <div class="sm-jumbotron center-align">
        <h2>User Registration Form</h2>
      </div>
    <form #regForm="ngForm" (ngSubmit)="addUser(regForm.value)">

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" 
            required  name="firstName" [(ngModel)]="User.firstName">
        </div>
      
        <div class="form-group">
         <label for="lastName">Last Name</label>
         <input type="text"  class="form-control" id="lastName" 
           name="lastName" [(ngModel)]="User.lastName">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text"  class="form-control" id="email" 
              name="email"[(ngModel)]="User.email">
           </div>

           <div class="form-group">
            <label for="password">Password</label>
            <input type="password"  class="form-control" id="password" 
             name="password" [(ngModel)]="User.password">
           </div>

           <div class="form-group">
            <label for="mobileNumber">Mobile No.</label>
            <input type="text"  class="form-control" id="mobileNumber" 
              name="mobileNumber" [(ngModel)]="User.mobileNumber">
           </div>

        <button type="submit"class="btn btn-primary btn-block" [disabled]="regForm.invalid">Register</button>
      </form>
</div>
</div> 
</div>  
