<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap Simple Login Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
        .login-form {
            width: 340px;
            margin: 50px auto;
            font-size: 15px;
        }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

        .form-control,
        .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
                    <a routerLink="/registration" routerLinkActive="active" class="nav-link">Registration</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="login-form">
        <form #userForm="ngForm" (ngSubmit)="loginUser(userForm.value)">
            <h2 class="text-center">Log in</h2>
            <div class="form-group">
                <input type="email" class="form-control" name="email" [(ngModel)]="user.email" #emailref="ngModel"
                    placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                <div *ngIf="emailref.errors && (emailref.dirty || emailref.touched)" class="text-danger">
                    <div *ngIf="emailref.errors.required">
                        Email is required.
                    </div>
                    <div *ngIf="emailref.errors.pattern">
                        Email is invalid.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #passwordref="ngModel"
                    placeholder="Password" required>
                <div *ngIf="passwordref.errors && (passwordref.dirty || passwordref.touched)" class="text-danger">
                    <div *ngIf="passwordref.errors.required">
                    Password is required.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="userForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>